.input_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 1.2rem;
  background: #ffffff;
  border: 0.1rem solid #d8d8d8;
  border-radius: 2rem;

  .input_icon {
    display: flex;
    border-right: 0.1rem solid #dbe3ff;
    padding-right: 0.8rem;
    svg {
      align-self: flex-end;
    }
  }
  input {
    all: unset;
    font-family: "Mulish";
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    width: 100%;
  }
}
