.logos_bar_container {
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem;
  border-top: 0.1rem solid #d8d8d8;
  border-bottom: 0.1rem solid #d8d8d8;
  padding: 2.4rem 0rem;
  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//
//Tablet display############################################################
//
@media only screen and (max-width: 75rem) {
  .logos_bar_container {
    margin: 0rem 3.5rem;
    .logos {
      svg {
        height: 6rem;
      }
    }
  }
}
