.logos_bar_container {
  display: flex;
  margin: 0rem 5rem;
  border-top: 0.1rem solid #d8d8d8;
  border-bottom: 0.1rem solid #d8d8d8;
  padding: 2.4rem 0rem;
  .logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      height: 9rem;
    }
  }
}

//
//Tablet display############################################################
//
@media only screen and (max-width: 75rem) {
  .logos_bar_container {
    margin: 0rem 3.5rem;
    .logos {
      svg {
        height: 6rem;
      }
    }
  }
}

//
//Phone display############################################################
//
@media only screen and (max-width: 43rem) {
  .logos_bar_container {
    margin: 0rem 3rem;
    .logos {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      svg {
        width: auto;
      }
    }
  }
}
