.footer_contanier {
  padding: 2.4rem 6rem;
  display: flex;
  align-items: center;
  background: #3c0e81;

  .about {
    flex-grow: 1;
    color: #f2146f;
    font-family: "Mulish";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .social {
    display: flex;
    gap: 1.6rem;
    height: fit-content;
  }
}
