.services_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.4rem;
  margin: 0 4.5rem;
  .side_a {
    h2 {
      font-weight: 700;
      font-size: 4.8rem;
      line-height: 6.2rem;
      text-align: center;
      margin: 0;
    }
    p {
      font-family: "Mulish";
      font-weight: 400;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
    }
  }
  .side_b {
    display: flex;
    flex-direction: column;
    gap: 14.5rem;
  }
}

//
//Tablet display############################################################
//
@media only screen and (max-width: 75rem) {
  .services_cont {
    margin: 0 3.5rem;
    gap: 8rem;
    .side_a {
      h2 {
        font-size: 3.3rem;
        line-height: 4.3rem;
      }
    }
    .side_b {
      gap: 10rem;
    }
  }
}

//
//Phone display############################################################
//
@media only screen and (max-width: 37.5rem) {
  .services_cont {
    margin: 0 3rem;
    .side_a {
      h2 {
        font-size: 2.8rem;
        line-height: 3.6rem;
      }
    }
    .side_b {
      gap: 8rem;
    }
  }
}
