.nav_bar_container {
  display: flex;
  padding: 2rem 5rem;
  .side_a {
    flex-grow: 1;
  }
  .side_b {
    display: flex;
    gap: 2rem;

    .button1 {
      button {
        padding: 2rem 5rem;
      }
    }

    .button2 {
      button {
        padding: 1.6rem 5rem;
      }
    }

    .button3 {
      button {
        padding: 1.6rem 5rem;
        display: flex;
        gap: 0.8rem;
      }
    }
  }
}

//
//Tablet display############################################################
//
@media only screen and (max-width: 75rem) {
  .nav_bar_container {
    padding: 2rem 3rem;

    .side_b {
      .button1 {
        display: none;
      }

      .button2 {
        button {
          padding: 1.6rem 5rem;
        }
      }

      .button3 {
        display: none;
      }
    }
  }
}

//
//Phone display############################################################
//
@media only screen and (max-width: 43rem) {
  .nav_bar_container {
    padding: 2rem;
    .side_a {
      display: flex;
      justify-content: center;
    }

    .side_b {
      .button2 {
        display: none;
      }
    }
  }
}
