.characteristics_contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14.5rem 0rem;

  .side_a {
    h2 {
      font-size: 3.8rem;
      line-height: 4.9rem;
      font-weight: 700;
      text-align: center;
    }
    p {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  .side_b {
    display: flex;
    gap: 3rem;
  }
}
