.about_us_container {
  display: flex;
  height: 57.1rem;
  margin: 0rem 5.5rem;
  background: #3c0e81;
  border-radius: 20px;
  .side_a {
    margin: 6rem;
    h2 {
      font-weight: 700;
      font-size: 5rem;
      line-height: 6.5rem;
      color: #f2146f;
      margin: 0 0 1rem 0;
    }
    h3 {
      font-family: "Mulish";
      font-weight: 800;
      font-size: 3.2rem;
      line-height: 4.8rem;
      color: #f2146f;
      margin: 0;
    }
    p {
      font-family: "Mulish";
      text-align: justify;
      font-weight: 400;
      font-size: 2.1rem;
      line-height: 3.2rem;
      color: #ffffff;
    }
  }
  .side_b {
    .image_desktop {
      display: flex;
      img {
        align-self: flex-end;
      }
    }
    .image_tablet {
      display: none;
    }
    .image_phone {
      display: none;
    }
  }
}

//
//Tablet display############################################################
//
@media only screen and (max-width: 75rem) {
  .about_us_container {
    height: 46.1rem;
    margin: 0rem 3.5rem;
    .side_a {
      margin: 4rem 3rem;
      h2 {
        font-size: 3.8rem;
        line-height: 4.9rem;
      }
      h3 {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
      }
      p {
        font-weight: 200;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    .side_b {
      display: flex;
      .image_desktop {
        display: none;
      }
      .image_tablet {
        display: flex;
        align-self: flex-end;
        img {
          align-self: flex-end;
        }
      }
    }
  }
}

//
//Phone display############################################################
//
@media only screen and (max-width: 37.5rem) {
  .about_us_container {
    flex-direction: column-reverse;
    height: 71.8rem;
    margin: 0rem 3rem;
    background: linear-gradient(101.21deg, #3c0e81 34.58%, #f8f9ff 113.14%);
    .side_a {
      text-align: center;
      h2 {
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.6rem;
      }
      h3 {
        font-weight: 400;
      }
      p {
        font-weight: 200;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
    .side_b {
      display: flex;
      .image_tablet {
        display: none;
      }

      .image_phone {
        display: flex;
        align-self: flex-end;
        img {
          align-self: flex-end;
        }
      }
    }
  }
}
