@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

.App {
  font-family: "Poppins";
  font-style: normal;
  width: 128rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 14.5rem;

  a {
    text-decoration: none;
  }
}

//
//Tablet display############################################################
//
@media only screen and (max-width: 75rem) {
  .App {
    width: 75rem;
    gap: 10rem;
  }
}

//
//Phone display############################################################
//
@media only screen and (max-width: 37.5rem) {
  .App {
    width: 37.5rem;
    gap: 8rem;
  }
}
